body {
   font-family: Consolas, monospace;
   text-align: center;
   line-height: 1.6;
}

h3 {
   font-weight: normal;
   color: #3f51b5;
}

img {
   width: 200px;
   aspect-ratio: 2/2;
}

button {
   font-family: inherit;
   background: none;
   border: none;
   border: 1px solid #000;
   font-size: 18px;
   padding: 10px 20px;
}
